<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.api.repositories.mapper.StaffMapper">

    <select id="selectAllStaff" parameterType="int" resultMap="result">
        SELECT * FROM STAFF limit #{page} offset #{itemByPage}
    </select>

    <select id="selectStaffById" parameterType="int" resultMap="result">
    select * from staff where id = #{id}
    </select>

    <update id="updateStaffById" parameterType="com.demo.api.entities.StaffEntity"> 
    update staff set name = #{staffEntity.name}
    , address = #{staffEntity.address}, phoneNumber = #{staffEntity.phoneNumber}, dateOfBirth = #{staffEntity.dateOfBirth}
    where id = #{staffEntity.id}
    </update>

    <delete id="deleteStaff">
    delete from staff where id = #{id}
    </delete>

    <insert id="insertNewStaff" parameterType="com.demo.api.entities.StaffEntity">
    insert into staff values (#{staffEntity.id}, #{staffEntity.name}, #{staffEntity.address}, #{staffEntity.phoneNumber}, #{staffEntity.dateOfBirth})
    </insert>

    <select id="getListStaff" parameterType="int" resultMap="result">
    select * from staff order by id asc
    </select>

    <select id="searchStaff" parameterType="com.demo.api.entities.StaffEntity" resultMap="result">
    select * from staff where name like '%${staffEntity.name}%' or id like '%${staffEntity.id}%'
    </select>

    <resultMap id = "result" type = "com.demo.api.entities.StaffEntity">
        <result property = "id" column = "id"/>
        <result property = "name" column = "name"/>
        <result property = "address" column = "address"/>
        <result property = "phoneNumber" column = "phoneNumber"/>
        <result property = "dateOfBirth" column = "dateOfBirth"/>
    </resultMap>

</mapper>